@media (max-width: 48rem) {
    .header img {
        width: 100%;
        height: auto;
    }

    .header_content {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        height: auto;
        font-weight: 500;
    }
    
    .header_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
    }
    
    .header_content p {
        margin: 20px 0 20px 15px;
        font-size: 1rem;
    }
    
    .header_content a {
        width: 70%;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .header_content a:hover {
        text-decoration: underline;
    }
    
    .header_content i {
        margin-right: 35px;
        padding: 5px;
        border: 2px solid #E32B31;
        border-radius: 50%;
        font-size: 1.5rem;
        color: #E32B31;
    }

    .hr_section {
        margin: auto;
        width: 92%;
    }
}