@media (max-width: 20rem) {
    .logo img {
        width: 80%;
        padding-top: 5px;
    }
}

@media (max-width: 48rem) {
    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        font-family: "Kievit-Medium";
        font-size: 16px;
    }

    nav {
        display: flex;
        height: 60px;
    }
    
    .logo img {
        margin: 5px ;
        max-height: 45px;
    }
    
    .menu {
        margin-top: 20px;
        width: 100%;
    }
    
    .menu_list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
    
    .menu_item .fa-solid {
        margin-right: 40px;
        font-size: 1.125rem;
    }

    hr {
        border-color: #e32b31;
    }
}