@media (max-width: 20rem) {
    .section_box img {
        max-height: 45px;
    }
}

@media (max-width: 48rem) {
    .section {
        width: 92%;
        margin: auto;
        font-family: "Kievit Book";
    }

    .section_title {
        margin: 20px 0 20px 0;
        font-size: 1.25rem;
        font-weight: bold;
        color: #e32b31;
    }

    .section_box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 1.125rem;
        color: #1a202c;
    }

    .section_box img {
        margin-right: 25px;
        width: 35%;
        height: auto;
    }

    .section_box p {
        width: 90%;
    }

    .section_footer {
        text-align: center;
        margin: 50px 0 50px ;
        font-size: 1rem;
        font-weight: bold;
        color: #e32b31;
    }
    
    .section_footer a {
        padding: 15px 20px;
        border: 2px solid #e32b31;
        border-radius: 45px 45px 45px 45px;
        text-decoration: none;
    }

    .section_title-article {
        margin-bottom: 15px;
        font-size: .75rem;
        color: #e32b31;
        text-transform: uppercase;
    }

    .section_content {
        width: 90%;
    }

    .section_content-title {
        margin-bottom: 12px;
        font-size: 1.125rem;
        font-weight: bold;
    }

    .section_content-time {
        margin-bottom: 5px;
        font-size: .75rem;
        text-transform: uppercase;
    }

    .section_content-place {
        font-size: .75rem;
    }

    .section_bg {
        padding-top: 10px;
        width: 100%;
        background-color: #E32B31;
    }

    .section_title-bg {
        width: 92%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 15px;
        border-top: 2px solid white;
        color: #ffffff;
    }

    .section_box-bg {
        display: flex;
        align-items: flex-end;
        width: 92%;
        margin: auto;
    }
    
    .section_box-bg div {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 90%;
        height: 200px;
        font-size: 1.25rem;
        font-style: italic;
        background-color: #ffffff;
    }

    .section_box-bg div p {
        margin: 0 90px 10px 20px;
        text-align: left;
        font-family: "Milo";
    }
    
    .section_box-bg img {
        position: absolute;
        z-index: 1;
        right: -5px;
        margin-bottom: 10px;
        max-height: 160px;
        max-width: 116px;
    }

    .section_box-caption {
        width: 92%;
        margin: auto;
        margin-bottom: 35px;
    }

    .arrow {
        margin-left: 50px;
        margin-bottom: 10px;
        width: 0;
	    height: 0;
	    border-top: 20px solid #ffffff;
	    border-right: 20px solid transparent;
    }

    .section_box-caption img {
        max-width: 60px;
        background-color: #E32B31;
    }

    .section_box-caption p {
        font-weight: bold;
        color: #ffffff;
    }

    .section_footer-bg {
        margin: 0;
        padding-bottom: 50px;
    }

    .section_footer-bg a {
        color: #ffffff;
        border: 2px solid #ffffff;
    }

    .border {
        border: none;
    }

    .dark {
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
        background-color: #B80F15;
    }
    
    .carousel {
        display: flex;
        gap: 15px;
        width: 94%;
        float: right;
        overflow: hidden;
    }
    
    .box_carousel {
        color: #ffffff;
        background-color: #E32B31;
    }

    .box_carousel-content {
       margin: 15px 0 10px 15px;
    }

    .box_carousel-title {
        margin-bottom: 20px;
        height: 70px;
        font-size: 1.125rem;
    }

    .box_carousel-author {
        margin-bottom: 5px;
        font-size: .875rem;
    }

    .box_carousel-info {
        font-size: .75rem;
        text-transform: uppercase;
    }
}